$MQMedium = 719px
// @import url('https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.css');

medium()
  @media (min-width: $MQMedium)
    {block}

.cover
  h1
    font-size 2rem
    text-align center
    text-transform uppercase

    +medium()
      font-size 3rem

th:empty
  visibility hidden

#map .mapboxgl-popup-content
  padding 25px 15px 20px
  font-size 14px
  border-radius 10px
#map .mapboxgl-popup-close-button
  font-size 18px